
<div class="container">
<%= form_tag({:class => 'form-signin'}) do %>
  <div class="form-group">
  	<% flash.each do |type, message| %>
  		<div class="alert alert-<%=type%>">
  			<%=message%>
  		</div>
  	<% end %>
	<div class="form-signin ">	
	 
	    <h2 class="form-signin-heading cent">Please sign in</h2>
	    <label for="inputEmail" class="sr-only">Username</label>
	    <%= text_field_tag :username, params[:username], class: "form-control sign", placeholder: "Username..." %>
	    <label for="inputPassword" class="sr-only">Password</label>
	  	<%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password..." %>
	    <div class="checkbox">

	    </div>
	    <div class="cent">
	    <%= submit_tag "Login", class: "btn btn-primary" %>
		</div>

	</div> <!-- /container -->
<% end %>
</div>


