              
          <div class="container">
            <p class="alert alert-primary" role="alert">
              <%= notice %>
            </p>
            <h1 class="cent">
              Show User              
            </h1>
              <div class="trans2">
              <p>
                <strong>Nama:</strong>
                <%= @user.nama %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @user.email %>
              </p>

              <p>
                <strong>Alamat:</strong>
                <%= @user.alamat %>
              </p>
              <p>
                <strong>Username:</strong>
                <%= @user.username %>
              </p>
          </div>
          <br>

          <div class="backg">
           <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %> |
            <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
          </div>
          </div>
        <br><br>